@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply flex-shrink-0
    bg-teal-500
    hover:bg-teal-700
    border-teal-500
    hover:border-teal-700
    text-sm border-4
    text-white
    py-1 px-2 rounded;
}

.users {
    @apply
    p-5
    grid
    grid-cols-4
    gap-4
    grid-flow-row
}

.input {
    @apply
    appearance-none 
    bg-transparent
    border-none
    w-full
    text-gray-700
    mr-3 py-1 px-2
    leading-tight
    focus:outline-none
}

.form {
    @apply 
    w-full
    max-w-sm
    flex items-center
    border-b
    border-teal-500
    py-2
}

.pagination {
    @apply
    py-2 px-3
    leading-tight
    text-gray-500
    bg-white
    border
    border-gray-300
    hover:bg-gray-100
    hover:text-gray-700
    dark:bg-gray-800
    dark:border-gray-700
    dark:text-gray-400
    dark:hover:bg-gray-700
    dark:hover:text-white
}

.buttons {
    @apply
    flex 
    space-x-2
    space-y-4
    flex-wrap
    justify-center
    items-baseline
}

.li {
    @apply 
    bg-gray-200
}

.details {
    @apply
    p-2 
    text-center
}

.name {
    @apply
    p-5
    text-center
}

.home {
    @apply 
    mx-4
    flex
    flex-col
    p-4
    text-center
    items-center
}
.title {
    @apply
    text-2xl
}